@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #000000;
  --color-primary-content: #fff;
  --color-secondary: teal;
  --color-secondary-content: #fff;
  --color-base: oklch(20% 0.05 240);
  --color-base-content: #000;
  --color-base-background: #fff;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #000;
  --color-primary-content: #fff;
  --color-secondary: teal;
  --color-secondary-content: #fff;
  --color-base: oklch(20% 0.05 240);
  --color-base-content: #fff;
  --color-base-background: #000;
}

/* STANDARD Schriftgröße für alle <p> Tags festlegen: */
@layer base {
  p {
    font-size: 1.25rem; /* text-xl */
    line-height: 1.75rem;
  }
  h1 {
    font-size: 3rem;
    font-style: italic;
    line-height: 4rem;
    font-weight: 500;
  }
  h2 {
    font-size: 2.8rem;
    font-style: italic;
    line-height: 3.5rem;
    font-weight: 500;
  }
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.8rem;
    padding-bottom: 0.6em;
  }
}

@import "./styles/index.css";

/* BACKGROUND VERLAUF FÜR THEME "Dark" und "Light" ################### */

html[data-theme="light"] .page {
  background: #f2eded;
}
 
html[data-theme="dark"] .page {

}

header a,
summary {
  font-size: 1.4em;

  @media only screen and (max-width: 1290px) {
    font-size: small;
  }
}
