@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #000000;
  --color-primary-content: #fff;
  --color-secondary: teal;
  --color-secondary-content: #fff;
  --color-base: oklch(20% 0.05 240);
  --color-base-content: #000;
  --color-base-background: #fff;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #000;
  --color-primary-content: #fff;
  --color-secondary: teal;
  --color-secondary-content: #fff;
  --color-base: oklch(20% 0.05 240);
  --color-base-content: #fff;
  --color-base-background: #000;
}

/* STANDARD Schriftgröße für alle <p> Tags festlegen: */
@layer base {
  p {
    font-size: 1.25rem; /* text-xl */
    line-height: 1.75rem;
  }
}

@import "./styles/index.css";

/* BACKGROUND VERLAUF FÜR THEME "Dark" und "Light" ################### */

html[data-theme="light"] .page {
  background: #b2e3a6;
  background: linear-gradient(
    329deg,
    rgba(178, 227, 166, 1) 0%,
    rgba(18, 64, 17, 1) 56%,
    rgba(51, 102, 59, 1) 100%
  );
}

html[data-theme="dark"] .page {
  background: #284a24;
  background: linear-gradient(
    329deg,
    rgba(40, 74, 36, 1) 0%,
    rgba(16, 43, 16, 1) 56%,
    rgba(6, 26, 9, 1) 100%
  );
}
